fastapi
uvicorn[standard]
sqlalchemy
asyncpg
greenlet
alembic
pydantic
python-dotenv
pandas
openpyxl
reportlab
qrcode[pil]
Pillow
scikit-learn
numpy
python-multipart
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1